@model MemberRegistration.EntityLayer.Concrete.User
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta asp-for="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta asp-for="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/weblogin Tema/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Member Registration Screen</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
                {
                    <input type="text" asp-for="Name" placeholder="Adınız..." />
                    <span style="color:white" asp-validation-for="Name"></span>

                    <input type="text" asp-for="Surname" placeholder="Soy Adınız..." />
                    <span style="color:white" asp-validation-for="Surname"></span>

                    <input type="text" asp-for="UserName" placeholder="Kullanıcı Adınız..." />
                    <span style="color:white" asp-validation-for="UserName"></span>

                    <input type="text" asp-for="Email" placeholder="Mail..." />
                    <span style="color:white" asp-validation-for="Email"></span>

                    <input type="password" asp-for="Password" placeholder="Password..." />
                    <span style="color:white" asp-validation-for="Password"></span>
                    <br />
                    <br />
                    <input class="mt-5" type="submit" value="Sign in">
                    
                }
                
            </div>
            <div class="clear"> </div>
        </div>

    </div>
</body>
</html>
